.login_wrap {
  border: 1px solid white;
  width: 1690px;
  height: 795px;
  margin-top: 64px;
  background-image: linear-gradient(#ffe1e1, #ffffff);
  .login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    margin: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
  }
  .login_button:hover {
    background-color: rgb(244, 244, 244);
  }

  .login_box_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 720px;
    position: fixed;
    .login_box {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      border-radius: 15px;
      width: 460px;
      height: 585px;
      background: white;
      .login_box_img {
        display: flex;
        justify-content: center;
        height: 45px;
        margin-top: 20px;
        .img {
          width: 55px;
          height: 55px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .Login_title {
        height: 45px;
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 32px;
        font-weight: 700;
      }
      .Login_input {
        border: 1px solid #b3b2b2;
        border-radius: 5px;
        width: 270px;
        height: 40px;
        // margin-bottom: 15px;
        font-size: 16px;
        padding-left: 10px;
        &.input_change {
          border: 3px solid rgb(250, 133, 133);
        }
      }

      .different {
        color: red;
        width: 285px;
        font-size: 13px;
      }
      .Login_input2 {
        border: 1px solid #b3b2b2;
        border-radius: 5px;
        width: 270px;
        height: 40px;
        margin-top: 10px;
        font-size: 16px;
        padding-left: 10px;
        &.input_change {
          border: 3px solid rgb(250, 133, 133);
        }
      }
      .login_forget {
        width: 280px;
        font-size: 12px;
        font-weight: 700;
        color: #717171;
        cursor: pointer;
      }
      .login_button {
        border-radius: 5px;
        border: 1px solid #e60023;
        width: 280px;
        height: 40px;
        margin-top: 23px;
        background-color: #e60023;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .login_button:hover {
      background-color: rgba(193, 44, 44, 1);
    }
    .login_or {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: 280px;
      height: 40px;
      font-size: 12px;
      font-weight: 700;
      margin-top: -40px;
    }
    .login_Ka {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 40px;
      border-radius: 10px;
      background-color: #ffdc00;
      .img {
        font-size: 14px;
        margin-left: 17px;
      }
    }
    .login_GG {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 280px;
      height: 40px;
      overflow: hidden;
      margin-top: 12px;
      border: 1px solid #b3b2b2;
      border-radius: 10px;
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
    .login_GG:hover {
      background-color: rgb(226, 235, 255);
    }
    .login_contract {
      width: 270px;
      height: 40px;
      margin-top: 25px;
      font-size: 11px;
      text-align: center;
      color: rgb(170, 170, 170);
      a {
        color: #717171;
        font-weight: 700;
        cursor: pointer;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
