.mainContainer {
  margin-top: 64px;
  padding: 24px 12px;
  display: flex;
  justify-content: center;

  #columns {
    width: 100%;
    max-width: 1250px;
    column-width: 248px;
    column-gap: 2px;
  }
}
