.headerContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #efefef;
  border-top: 0;
  height: 64px;
  display: flex;
  background-color: white;
  z-index: 3;

  .headerWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 12px;
  }
  .pinterestLogo {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 4px;
      border-radius: 100%;
    }
    .logo:hover {
      background-color: #efefef;
      box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
    }
    .logo img {
      width: 85%;
    }
  }
  .headerSearch {
    margin: 0 16px;
    width: 145%;
    padding: 10px;
    border-radius: 8px;
    background-color: #efefef;
    border: 1px none;
    display: flex;
  }
  .fas {
    width: 20px;
    font-size: 20px;
    color: #8e8e8e;
  }
  .searchsearch {
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    background-color: #efefef;
    margin: 0 10px;
    outline: none;
    // &:focus {
    //   box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
    // }
  }
  .theOthers {
    display: flex;
    align-items: center;
    width: 20%;

    .home_1,
    .home_2,
    .home_3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 5px;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      color: #8e8e8e;
      &:hover {
        background-color: #efefef;
        color: black;
        font-weight: 700;
        cursor: pointer;
      }
    }
    .home_1 {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0;
    }
    .home_2 {
      width: 60px;
      height: 40px;
      border-radius: 45%;
      margin: 0;
    }
    .home_3 {
      width: 60px;
      height: 30px;
      border-radius: 40%;
      margin: 0;
    }
  }

  .theRestOf {
    width: 30%;
    padding: 12px;
    display: flex;
    align-items: center;

    .box {
      height: 18px;
      border-left: 2px solid#efefef;
      align-items: center;
      padding: 8px;
    }
    .restWrap {
      display: flex;
      align-items: center;
      width: 100%;
    }
    .msg {
      width: 100%;
      margin: 5px 10px;
      padding: 5px;
      text-align: center;
      color: #8e8e8e;
      font-size: 25px;

      &:hover {
        background-color: #efefef;
        color: black;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }
}
