.headerContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #efefef;
  border-top: 0;
  height: 64px;
  display: flex;
  background-color: white;

  .headerWrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4px 12px;
  }
  .pinterestLogo {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 4px;
      border-radius: 100%;
    }
    .logo:hover {
      background-color: #efefef;
    }
    .logo img {
      width: 85%;
    }
    .headerSearch {
      margin: 0 16px;
      width: 915px;
      padding: 15px;
      border-radius: 10px;
      background-color: #efefef;
      border: 1px none;
    }
    .headerSearch:hover {
      box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
    }
  }
}
