.detail_body {
  background-image: linear-gradient(#f2f2f2, #ffffff);
  .detail_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .detail_back_button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      margin-top: -320px;
      margin-left: -46%;
      cursor: pointer;
      width: 40px;
      height: 40px;
      @media (max-width: 1080px) {
        margin-top: -600px;
      }
      .back {
        font-size: 20px;
      }
    }
    .detail_back_button:hover {
      border-radius: 50%;
      background-color: rgb(222, 222, 222);
      width: 40px;
      height: 40px;
    }
    .detail_main_page {
      border-radius: 10px;
      margin-top: 94px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px #f2f2f2;

      .detail_main_page_top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        .detail_main_page_top_detail_wrap {
          display: flex;
          width: 95%;
          height: 60%;
          .detail_main_page_top_bar_wrap {
            width: 59%;
            @media (max-width: 1080px) {
              width: 35%;
            }
            .downImg {
              border: 1px solid #f2f1f1;
              border-radius: 10px;
              position: absolute;
              margin-top: 40px;
              margin-left: -75px;
              background-color: white;
              width: 190px;
              height: 133px;
              z-index: 10;
              overflow: hidden;
              .downImg_text1 {
                display: flex;
                align-items: center;
                width: 192px;
                height: 45px;
                font-weight: 700;
                color: rgb(72, 71, 71);
                padding-left: 10px;
              }
              .downImg_text2 {
                display: flex;
                align-items: center;
                width: 192px;
                height: 45px;
                font-weight: 700;
                color: rgb(72, 71, 71);
                padding-left: 10px;
              }
              .downImg_text3 {
                display: flex;
                align-items: center;
                width: 192px;
                height: 45px;
                font-weight: 700;
                color: rgb(72, 71, 71);
                padding-left: 10px;
              }
              .downImg_text1:hover {
                background-color: #e6e5e5;
              }
              .downImg_text2:hover {
                background-color: #e6e5e5;
              }
              .downImg_text3:hover {
                background-color: #e6e5e5;
              }
            }
            .detail_main_page_top_bar {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              height: 100%;
              cursor: pointer;
              .dotdot {
                font-size: 20px;
                color: #8e8e8e;
                @media (max-width: 1080px) {
                }
              }
            }
            .detail_main_page_top_bar :hover {
              background-color: rgba(12, 9, 9, 0.1);
              border-radius: 50%;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .detail_main_page_top_send {
            border-radius: 10px;
            background-color: #f2f2f2;
            width: 91px;
            margin-left: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            // @media (max-width: 1080px) {
            //   margin-left: 0;
            // }

            .detail_main_page_top_send_wrap {
              // height: 55%;
              display: flex;
              align-items: center;
              @media (max-width: 1080px) {
                margin-left: 0;
                // padding: 0px 5px 0px 5px;
                margin: 0px 5px 0px 5px;
              }
              .detail_main_page_top_send_img_wrap {
                width: 20px;
                height: 22px;
              }
              .detail_main_page_top_send_text {
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
          .detail_main_page_top_send:hover {
            background-color: rgba(12, 9, 9, 0.1);
          }

          .detail_main_page_top_save_wrap {
            // border: 1px solid black;
            background-color: #f2f2f2;
            border-radius: 10px;
            width: 235px;
            margin-left: 1.5%;
            display: flex;
            align-items: center;
            cursor: pointer;

            .changeImg {
              position: absolute;
              background-color: #f2f2f2;
              border-radius: 10px;
              width: 236px;
              height: 42px;
              .changeBox {
                box-shadow: 2px 2px 2px 2px #f2f2f2;
                border-radius: 10px;
                position: absolute;
                margin-top: 50px;
                margin-left: -45px;
                background-color: white;
                width: 320px;
                padding: 12px;
                .serch_wrap {
                  display: flex;
                  align-items: center;
                  background-color: #f2f2f2;
                  border-radius: 5px;
                  height: 40px;
                  .serch_box {
                    display: flex;
                    justify-content: center;
                    width: 40px;
                    margin-left: 10px;
                    color: rgb(142, 140, 140);
                  }
                  .serch_input {
                    background-color: #f2f2f2;
                    border: 1px solid #f2f2f2;
                    height: 85%;
                    width: 230px;
                    font-size: 16px;
                    font-weight: 700;
                  }
                }
                .changeImg_title {
                  font-size: 14px;
                  margin-top: 10px;
                  padding: 10px 0px 0px 0px;
                }
                .changeImg_box1 {
                  display: flex;
                  align-items: center;
                  width: 295px;
                  height: 50px;
                  border-radius: 10px;
                  position: relative;
                  .hover {
                    display: flex;
                    justify-content: flex-end;
                    border-radius: 10px;
                    position: absolute;
                    background-color: #878686;
                    width: 295px;
                    height: 50px;
                    opacity: 0;
                    padding: 5px 5px 5px 0px;
                    .send_text {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      border-radius: 10px;
                      width: 55px;
                      background-color: #e60023;
                      color: white;
                      font-weight: 700;
                    }
                  }
                  .hover:hover {
                    opacity: 1;
                    background-color: rgba(12, 9, 9, 0.1);
                  }
                  .changeImg_box1_img_wrap {
                    border-radius: 8px;
                    width: 30px;
                    height: 35px;
                    overflow: hidden;
                    margin-left: 8px;
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .changeImg_box1_text {
                    font-size: 16px;
                    margin-left: 15px;
                    font-weight: 700;
                  }
                }
              }
              .changeImg_1 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 235px;
                .changeImg_1_1 {
                  height: 100%;
                  width: 190px;
                  color: #333333;
                  display: flex;
                  align-items: center;
                }
              }
            }

            .detail_main_page_top_save_1 {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              width: 182px;

              .detail_main_page_top_save_1_text {
                height: 100%;
                width: 130px;
                color: #333333;
                display: flex;
                align-items: center;
              }
              .detail_main_page_top_save_1_img {
                height: 20px;
                width: 20px;
                color: #333;
              }
            }
            .detail_main_page_top_save_1:hover {
              background-color: rgb(232, 232, 232);
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
            }
            .detail_main_page_top_save_2 {
              background-color: #e60023;
              display: flex;
              justify-content: center;
              align-items: center;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 100%;
              width: 56px;
              color: white;
              font-size: 16px;
              font-weight: 700;
            }
            .detail_main_page_top_save_2:hover {
              background-color: rgb(210, 14, 14);
            }
          }
        }
      }
      .detail_main_page_box_wrap {
        width: 890px;
        display: flex;
        padding: 0px 0px 30px 0px;
        @media (max-width: 1080px) {
          display: flex;
          flex-direction: column;
          width: 100px;
        }

        .detail_main_page_box_img {
          border-radius: 15px;
          margin-left: 20px;
          cursor: pointer;
          position: relative;
          display: flex;
          @media (max-width: 1080px) {
            margin: 0;
            padding: 0px 20px 0px 20px;
          }

          img {
            height: 100%;
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
          }
          .img_text_wrap {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            opacity: 0;

            .img_box {
              width: 225px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;

              .text {
                margin-left: 5px;
                font-size: 16px;
                font-weight: 700;
                font-size: 16px;
              }
            }
          }
          .img_text_wrap:hover {
            opacity: 1;
            background-color: rgba(12, 9, 9, 0.5);
          }
        }
        .detail_main_page_box_text {
          width: 350px;
          padding: 10px;
          margin-left: 15px;
          @media (max-width: 1080px) {
            width: 550px;
          }
          .detail_main_page_moveButton {
            background-color: #f2f2f2;
            width: 345px;
            height: 40px;
            border-radius: 10px;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @media (max-width: 1080px) {
              width: 515px;
            }

            .detail_main_page_moveButton:hover {
              background-color: rgba(12, 9, 9, 0.1);
            }
            .link_box {
              display: flex;
              .moveButton_img {
              }
              .moveButton_text {
                font-size: 16px;
                font-weight: 700;
                color: #333333;
                margin-left: 5px;
              }
            }
          }
          .detail_main_page_moveButton:hover {
            background-color: rgba(12, 9, 9, 0.1);
          }
          .detail_main_page_box_text_top1 {
            display: flex;

            .detail_main_page_box_text_top1_img {
              height: 40px;
              width: 60px;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
              }
            }
            .detail_main_page_box_text_top1_text {
              padding-left: 10px;
              width: 350px;
              @media (max-width: 1080px) {
                width: 400px;
              }

              .detail_main_page_box_text_top1_text1 {
                width: 230px;
                font-size: 16px;
                color: #333333;

                a {
                  font-weight: 700;
                  color: #333333;
                }
              }
              .detail_main_page_box_text_top1_text2 {
                width: 230px;
                font-size: 14px;
                color: #333333;
              }
            }
            .detail_main_page_box_text_top1_pin {
              display: flex;
              width: 60px;
              .detail_main_page_box_text_top1_pin_img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10px;
                height: 18px;
                margin-right: 3px;

                .img {
                  font-size: 14px;
                }
              }
            }
            .detail_main_page_box_text_top1_pin_nember {
              font-size: 12px;
            }
          }
          .detail_main_page_box_text_top2 {
            border-top: 2px solid #f2f2f2;
            border-bottom: 2px solid #f2f2f2;
            margin-top: 10px;
            width: 345px;
            @media (max-width: 1080px) {
              width: 515px;
            }

            .detail_main_page_box_text_top2_title {
              font-size: 21px;
              color: #333333;
              font-weight: 700;
              margin-top: 20px;
            }
          }
          .detail_main_page_box_text_top2_title_button_wrap {
            display: flex;
            margin-top: 20px;

            .detail_main_page_box_text_top2_title_button1 {
              border-radius: 30px;

              display: flex;
              justify-content: center;
              align-items: center;
              color: #878686;
              font-weight: 700;
              font-size: 16px;
              cursor: pointer;
              padding: 13px;
              padding-left: 18px;
              padding-right: 18px;
              &.active_tab_button {
                color: #333333;
                background-color: #f2f2f2;
                font-weight: 700;
              }
            }
            .detail_main_page_box_text_top2_title_button1:hover {
              text-decoration: underline;
            }
          }

          .detail_main_page_box_text_top2_title_imgBox {
            border-radius: 10px;
            width: 345px;
            height: 100px;
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2px;
            overflow: hidden;
            cursor: pointer;
            @media (max-width: 1080px) {
              width: 515px;
            }
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .detail_main_page_img {
          display: flex;
          margin-bottom: 20px;
          margin-top: 30px;
          .img_text_img {
            width: 260px;
            height: 65px;
            @media (max-width: 1080px) {
              width: 500px;
            }
            .img_img {
              font-size: 15px;
              color: #333333;
              font-weight: 400;
            }
            .img_text {
              font-size: 15px;
              color: #333333;
              font-weight: 400;
            }
          }
          .img_text_button {
            border: 1px solid #f2f2f2;
            border-radius: 30px;
            background-color: #f2f2f2;
            font-weight: 700;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 65px;
            position: relative;
            cursor: pointer;
            .hover {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(12, 9, 9, 0.1);
              border-radius: 30px;
              opacity: 0;
            }
            .hover:hover {
              opacity: 1;
            }
          }
        }
      }
      @media (max-width: 1080px) {
        a {
          width: 568px;
        }
        .detail_main_page_top {
          width: 568px;
        }
      }
    }
    .commnet_text {
      font-weight: 400;
      font-size: 15px;
      color: #333333;
      margin-top: 20px;
    }
    .comment_box {
      display: flex;
      width: 345px;
      height: 38px;
      margin-top: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      @media (max-width: 1080px) {
        width: 500px;
      }
      .commen_box_img {
        border-radius: 50%;
        width: 45px;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .comment_box_input {
      margin-left: 8px;
      padding-left: 15px;
      border-radius: 30px;
      border: 1px solid #dcdcdc;
      width: 290px;
      font-size: 16px;
      @media (max-width: 1080px) {
        width: 500px;
      }
    }
    .comment_button_wrap {
      display: flex;
      justify-content: flex-end;
      width: 345px;
      margin-top: 15px;
      margin-bottom: 10px;
      @media (max-width: 1080px) {
        width: 500px;
      }

      .comment_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 38px;
        background-color: #f2f2f2;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #878686;
        cursor: pointer;
        &.comment_button2 {
          background-color: #e60023;
          color: white;
        }
      }
    }

    .detail_wrap_exit {
      position: fixed;
      margin-top: -330px;
      margin-left: 45%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1080px) {
        margin-top: -600px;
      }
      .img {
        font-size: 25px;
        color: #8e8e8e;
      }
    }
    .detail_wrap_exit:hover {
      background-color: rgba(12, 9, 9, 0.1);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .detail_similar_title {
    height: 60px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
  }
  .detail_similar_img_box {
    padding: 24px 12px;
    display: flex;
    justify-content: center;
    @media (max-width: 1080px) {
      padding: 0px 100px 0px 100px;
    }
    .detail_similar_img {
      width: 100%;
      max-width: 1250px;
      column-width: 248px;
      column-gap: 2px;
    }
  }
}
