.detail_body {
  background-image: linear-gradient(#f2f2f2, #ffffff);
  .detail_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .detail_back_button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      margin-top: -320px;
      margin-left: -46%;
      cursor: pointer;
      width: 40px;
      height: 40px;
      .back {
        font-size: 20px;
      }
    }
    .detail_back_button:hover {
      border-radius: 50%;
      background-color: rgb(222, 222, 222);
      width: 40px;
      height: 40px;
    }
    .detail_main_page {
      border-radius: 10px;
      margin-top: 94px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px #f2f2f2;

      .detail_main_page_top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        .detail_main_page_top_detail_wrap {
          display: flex;
          width: 95%;
          height: 60%;
          .detail_main_page_top_bar_wrap {
            width: 59%;
            .detail_main_page_top_bar {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 8%;
              height: 100%;
              cursor: pointer;
              .dotdot {
                font-size: 20px;
                color: #8e8e8e;
              }
            }
            .detail_main_page_top_bar :hover {
              background-color: rgba(12, 9, 9, 0.1);
              border-radius: 50%;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .detail_main_page_top_send {
            border-radius: 10px;
            background-color: #f2f2f2;
            width: 91px;
            margin-left: 2%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            .detail_main_page_top_send_wrap {
              height: 55%;
              display: flex;
              align-items: center;
              .detail_main_page_top_send_img_wrap {
                width: 20px;
                height: 22px;
              }
              .detail_main_page_top_send_text {
                font-size: 16px;
                font-weight: 700;
              }
            }
          }
          .detail_main_page_top_send:hover {
            background-color: rgba(12, 9, 9, 0.1);
          }
          .detail_main_page_top_save {
            background-color: #f2f2f2;
            border-radius: 10px;
            width: 235px;
            margin-left: 1.5%;
            display: flex;
            align-items: center;
            cursor: pointer;

            .detail_main_page_top_save_1 {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              width: 182px;
              position: relative;
              .hover {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(12, 9, 9, 0.1);
                opacity: 0;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              }
              .hover:hover {
                opacity: 1;
              }

              .detail_main_page_top_save_1_text {
                height: 100%;
                width: 130px;
                color: #333333;
                display: flex;
                align-items: center;
              }
              .detail_main_page_top_save_1_img {
                height: 15px;
                width: 20px;
              }
            }
            .detail_main_page_top_save_2 {
              background-color: #e60023;
              display: flex;
              justify-content: center;
              align-items: center;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 100%;
              width: 56px;
              color: white;
              font-size: 16px;
              font-weight: 700;
              position: relative;
              .hover {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(12, 9, 9, 0.1);
                opacity: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .hover:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      .detail_main_page_box_wrap {
        width: 890px;
        display: flex;
        padding: 0px 0px 30px 0px;

        .detail_main_page_box_img {
          border-radius: 15px;
          margin-left: 20px;
          cursor: pointer;
          position: relative;
          display: flex;

          img {
            height: 100%;
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
          }
          .img_text_wrap {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            opacity: 0;

            .img_box {
              width: 225px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;

              .text {
                margin-left: 5px;
                font-size: 16px;
                font-weight: 700;
                font-size: 16px;
              }
            }
          }
          .img_text_wrap:hover {
            opacity: 1;
            background-color: rgba(12, 9, 9, 0.5);
          }
        }
        .detail_main_page_box_text {
          width: 350px;
          padding: 10px;
          margin-left: 15px;
          .detail_main_page_moveButton {
            background-color: #f2f2f2;
            width: 345px;
            height: 40px;
            border-radius: 10px;
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            .hover {
              position: absolute;
              border-radius: 10px;
              width: 100%;
              height: 100%;
              background-color: rgba(12, 9, 9, 0.1);
              opacity: 0;
            }
            .hover:hover {
              opacity: 1;
            }
            .link_box {
              display: flex;
              .moveButton_img {
              }
              .moveButton_text {
                font-size: 16px;
                font-weight: 700;
                color: #333333;
                margin-left: 5px;
              }
            }
          }
          .detail_main_page_box_text_top1 {
            display: flex;

            .detail_main_page_box_text_top1_img {
              height: 40px;
              width: 60px;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
              }
            }
            .detail_main_page_box_text_top1_text {
              padding-left: 10px;
              width: 350px;

              .detail_main_page_box_text_top1_text1 {
                height: 20px;
                width: 230px;
                font-size: 16px;
                color: #333333;

                a {
                  font-weight: 700;
                  color: #333333;
                }
              }
              .detail_main_page_box_text_top1_text2 {
                width: 230px;
                height: 15px;
                font-size: 14px;
                color: #333333;
              }
            }
            .detail_main_page_box_text_top1_pin {
              display: flex;
              width: 60px;
              .detail_main_page_box_text_top1_pin_img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10px;
                height: 18px;
                margin-right: 3px;

                .img {
                  font-size: 14px;
                }
              }
            }
            .detail_main_page_box_text_top1_pin_nember {
              font-size: 12px;
            }
          }
          .detail_main_page_box_text_top2 {
            border-top: 2px solid #f2f2f2;
            border-bottom: 2px solid #f2f2f2;
            margin-top: 10px;
            width: 345px;

            .detail_main_page_box_text_top2_title {
              font-size: 21px;
              color: #333333;
              font-weight: 700;
              margin-top: 20px;
            }
          }
          .detail_main_page_box_text_top2_title_button_wrap {
            display: flex;
            margin-top: 20px;

            .detail_main_page_box_text_top2_title_button1 {
              border-radius: 30px;

              display: flex;
              justify-content: center;
              align-items: center;
              color: #878686;
              font-weight: 700;
              font-size: 16px;
              cursor: pointer;
              padding: 13px;
              padding-left: 18px;
              padding-right: 18px;
              // background-color: #f2f2f2;

              &.active_tab_button {
                // border: 3px solid rgba(0, 132, 255, 0.5);
                color: #333333;
                background-color: #f2f2f2;
                font-weight: 700;
              }
            }
            .detail_main_page_box_text_top2_title_button1:hover {
              text-decoration: underline;
            }
          }
          .detail_main_page_box_text_top2_title_imgBox {
            border-radius: 10px;
            width: 345px;
            height: 100px;
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2px;
            overflow: hidden;
            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .detail_main_page_img {
          display: flex;
          margin-bottom: 20px;
          margin-top: 30px;
          .img_text_img {
            width: 260px;
            height: 65px;
            .img_img {
              font-size: 15px;
              color: #333333;
              font-weight: 400;
            }
            .img_text {
              font-size: 15px;
              color: #333333;
              font-weight: 400;
            }
          }
          .img_text_button {
            border: 1px solid #f2f2f2;
            border-radius: 30px;
            background-color: #f2f2f2;
            font-weight: 700;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            height: 65px;
            position: relative;
            cursor: pointer;
            .hover {
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(12, 9, 9, 0.1);
              border-radius: 30px;
              opacity: 0;
            }
            .hover:hover {
              opacity: 1;
            }
          }
        }
      }
    }
    .commnet_text {
      font-weight: 400;
      font-size: 15px;
      color: #333333;
      margin-top: 20px;
    }
    .comment_box {
      display: flex;
      width: 345px;
      height: 38px;
      margin-top: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      .commen_box_img {
        border-radius: 50%;
        width: 45px;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .comment_box_input {
      margin-left: 8px;
      padding-left: 15px;
      border-radius: 30px;
      border: 1px solid #dcdcdc;
      width: 290px;
      font-size: 16px;
    }
    .comment_button_wrap {
      display: flex;
      justify-content: flex-end;
      width: 345px;
      margin-top: 15px;
      margin-bottom: 10px;
      .comment_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 38px;
        background-color: #f2f2f2;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        color: #878686;
        cursor: pointer;
        &.comment_button2 {
          background-color: #e60023;
          color: white;
        }
      }
    }

    .detail_wrap_exit {
      position: fixed;
      margin-top: -330px;
      margin-left: 45%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .img {
        font-size: 25px;
        color: #8e8e8e;
      }
    }
    .detail_wrap_exit:hover {
      background-color: rgba(12, 9, 9, 0.1);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .detail_similar_title {
    height: 60px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
  }
  .detail_similar_img {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 0px 75px 0px 75px;
  }
}
@media (max-width: 1500px) {
  .detail_body {
    .detail_similar_img {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
      padding: 0px 75px 0px 75px;
    }
  }
}
@media (max-width: 1200px) {
  .detail_body {
    .detail_similar_img {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      padding: 0px 75px 0px 75px;
    }
  }
}
